<!DOCTYPE html>

<html>

  <head>

  <title>Blogz!</title>
  <style>
    .error {
        color: red;
    }
</style>

  </head>

  <body>

  
        <h1><a href="/">Blogz!</a></h1>
        <a href="/blog">View All Posts</a>
        <a href="/newpost"> New Post</a>
        <a href="/logout"> Logout</a>
        <a href="/login"> Login</a>


        {% with messages = get_flashed_messages() %}    
        <ul>
        {% for message in messages %}
        <li class="error">{{message}}</li>
        {% endfor %}
        </ul>
        {% endwith %}

      
      {% block content %}
      {% endblock %}
  

  </body>

</html>